*.iml
**/build/
.gradle/
/local.properties
/.idea/
.vscode/
.kotlin/
/.sdk/

captures
.externalNativeBuild
.cxx
local.properties
*.log
*.txt
!PRD.md
!README.md
!*.json
!*.gradle.kts
!*.properties
!gradlew
!gradlew.bat
!gradle-wrapper.jar
